
  <% if @results.length == 0 %>
    <% flash[:notice] = "Sorry no results" %>
      <h4> <%= flash[:notice] %> </h4>
      <% else %>
      <% @results.map do |result| %>

      <%= link_to result.title, post_path(result) %> <br>

    <% end %>
  <% end %>
