<div class="row">
  <div class="medium-8 columns">

    <% if @animal.image.attached? %>
    <container>
      <%= image_tag @animal.image, class: "thumbnail", width: "600px", height: "350px" %>
    </container>
    <% else %>
      <% flash[:notice] = "No image yet" %><br>
    <% end %>

  </div>


  <div class="medium-4 columns animal-text">

  <p>Name: <%= @animal.name %></p>
  <p>Kingdom: <%= link_to @animal.kingdom, animals_path(params2: "Kingdom") %></p>



  </div>
</div>
